@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Gilroy-ExtraBold.woff");
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.woff");
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.woff");
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.woff");
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.woff");
  font-display: swap;
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Gilroy";
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.container {
  width: 100%;
  padding: 0 64px;
  margin: 0 auto;
}

.active {
  color: #2168DE;
}

.link {
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
  color: #333333;
}
.link--filter {
  display: flex;
  align-items: center;
}
.link--more {
  color: #AFB3BB;
  display: flex;
  align-items: center;
}
.link--more svg {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  stroke: currentColor;
}
.link--active {
  color: #2168DE;
}
.link--active:hover {
  color: #333333;
  transition: 0.2s linear;
}

.title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #333333;
}

.text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.text--bold {
  font-weight: 500;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.button--order {
  padding: 8px 16px;
  border: 1px #2168DE solid;
  color: #2168DE;
}
.button--order:hover {
  color: #ffffff;
  background-color: #2168DE;
  transition: 0.2s linear;
}
.button--main {
  padding: 8px 16px;
  border: 1px solid #CFD4DA;
  color: #333333;
}
.button--main:hover {
  border: 1px solid #BCD2F5;
  color: #2168DE;
  transition: 0.2s linear;
}
.button--reset {
  width: 100%;
  padding: 7px 0 9px 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 32px;
  color: #2168DE;
  background-color: #F2F4F7;
  border: 1px #F2F4F7 solid;
  cursor: pointer;
}
.button--reset:hover {
  color: #ffffff;
  background-color: #2168DE;
  border-color: #2168DE;
  transition: 0.2s linear;
}
.button--content {
  width: 100%;
  padding: 12px 0;
  background: #F2F4F7;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.button--content:hover {
  color: #2168DE;
  background-color: #CFD4DA;
  transition: 0.2s linear;
}

.header {
  padding: 16px 0;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__inner--col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo span {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-transform: uppercase;
}
.header__menu {
  margin-left: 48px;
  display: flex;
}
.header__menu--item {
  padding: 8px 16px;
  font-weight: 600;
  line-height: 24px;
}
.header__menu--item:hover {
  color: #2168DE;
  transition: 0.2s linear;
}
.header__menu--item:active {
  color: #2168DE;
}
.header__menu--mob {
  display: none;
}
.header__login--item {
  margin-right: 24px;
}
.header__login--item:first-child, .header__login--item:nth-child(2) {
  position: relative;
}
.header__login--item:first-child:hover:before, .header__login--item:nth-child(2):hover:before {
  position: absolute;
  top: 25px;
  display: block;
  border-radius: 5px;
  padding: 4px 12px;
  background-color: #333333;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.header__login--item:first-child:hover::before {
  content: "Уведомления";
}
.header__login--item:nth-child(2):hover:before {
  content: "Избранное";
}
.header__login--item:last-child {
  margin-right: 0;
}
.header__login--item svg {
  display: flex;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
}
.header__mob {
  display: none;
}

.section {
  padding: 51px 0 0 0;
}
.section__breadcrumb {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
.section__breadcrumb--item {
  margin-right: 16px;
}
.section__breadcrumb--item:last-child {
  margin-right: 0;
}
.section__breadcrumb--item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #52575F;
}
.section__breadcrumb--item a:hover {
  color: #2168DE;
  transition: 0.2s linear;
}
.section__tags {
  display: flex;
  margin-top: 24px;
}
.section__tags--item {
  padding: 4px 16px;
  background-color: #F2F4F7;
  border-radius: 10px;
  margin-right: 8px;
  cursor: pointer;
}
.section__tags--item:hover {
  background-color: #F4F7FD;
  transition: 0.2s linear;
}
.section__tags--item:hover a {
  color: #2168DE;
  transition: 0.2s linear;
}
.section__tags--item:last-child {
  margin-right: 0;
}
.section__tags--item a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.content {
  display: flex;
  margin-top: 21px;
}
.content__cards {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 41px;
  justify-items: stretch;
  align-items: start;
}
.content__inner {
  width: 100%;
}
.content__inner--item {
  width: auto;
  width: auto;
}
.content__inner--item img {
  display: block;
  width: 100%;
}
.content__inner--feedback {
  display: flex;
  position: absolute;
  bottom: 12px;
  right: 16px;
}
.content__inner--feedback svg {
  width: 25px;
  height: 25px;
}
.content__inner--feedback span {
  color: #ffffff;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-left: 4px;
}
.content__inner--text {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
.content__img {
  width: 100%;
  height: fit-content;
  position: relative;
}
.content__pagination {
  margin-top: 41px;
  margin-bottom: 100px;
}
.content__pagination--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px auto 0 auto;
  width: 488px;
}
.content__pagination--item {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  padding: 8px 15.5px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 16px;
  color: #333333;
}
.content__pagination--item:first-child {
  background-color: #2168DE;
  border-radius: 100%;
  color: #ffffff;
}
.content__pagination--item:last-child {
  margin-right: 0;
}
.content__pagination--item:hover {
  background-color: #CFD4DA;
  border-radius: 100%;
  transition: 0.2s linear;
}

.comment {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.favourite {
  display: flex;
  align-items: center;
}
.favourite svg {
  fill: #ffffff;
  transition: 0.2s linear;
}

.not-active {
  display: none;
}

.arrow-not-active {
  transform: rotate(0deg) !important;
}

.filter {
  margin-top: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter__inner--item {
  margin-right: 25px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}
.filter__inner--item__mob {
  display: none;
}
.filter__inner--item:hover {
  color: #2168DE;
  transition: 0.2s linear;
}
.filter__inner--item:last-child {
  margin-right: 0;
}
.filter__button {
  display: flex;
  align-items: center;
  color: #2168DE;
}
.filter__button svg {
  display: block;
  width: 16px;
  height: 16px;
  stroke: currentColor;
  margin-right: 9px;
}
.filter-block {
  display: block;
  min-width: 304px;
  padding: 27px 0 0 64px;
  background-color: #ffffff;
}
.filter-block__header {
  display: none;
}
.filter-wrapper {
  margin-bottom: 20px;
}
.filter-wrapper__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.filter-wrapper__header span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #333333;
}
.filter-wrapper__header span:last-child {
  font-weight: 400;
  color: #AFB3BB;
}
.filter-wrapper__header svg {
  display: block;
  width: 16px;
  height: 16px;
  transform: rotate(-180deg);
  transition: 0.22222s ease-in-out;
  stroke: #333333;
}
.filter-wrapper__body {
  transition: 0.3s ease-in-out;
}
.filter-wrapper__body--list {
  margin-top: 16px;
}
.filter-companies {
  margin-bottom: 8px;
  height: 190px;
  overflow: auto;
  scrollbar-color: #CFD4DA #ffffff;
}
.filter-input {
  width: 100%;
  display: block;
  padding: 8px 11px;
  border: 1px solid #CFD4DA;
  border-radius: 5px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #AFB3BB;
}
.filter-input:focus {
  color: #333333;
}
.filter-notactive {
  display: none;
}

.options-checkbox {
  display: none;
}
.options-checkbox:checked + .options-label::before {
  background-color: #2168DE;
  border-color: #2168DE;
}
.options-checkbox:checked + .options-label::after {
  opacity: 1;
}
.options-label {
  padding: 8px;
  position: relative;
  display: flex;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.options-label:last-child {
  margin-bottom: 0;
}
.options-label:hover {
  color: #2168DE;
  transition: 0.2s linear;
  background-color: #F4F7FD;
  border-radius: 10px;
  padding: 8px;
}
.options-label:hover::before {
  border-color: #BCD2F5;
}
.options-label::before {
  content: "";
  display: block;
  margin-right: 8px;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  border: 1px solid #CFD4DA;
  background-color: #ffffff;
}
.options-label::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/check.svg");
  background-repeat: no-repeat;
  opacity: 0;
}

.switch {
  display: block;
  position: relative;
  width: 42px;
  height: 24px;
  cursor: pointer;
}
.switch-toggle {
  display: none;
}
.switch-toggle:checked + .switch-label {
  background-color: #2168DE;
}
.switch-toggle:checked + .switch-label::before {
  transform: translateX(20px);
}
.switch-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #AFB3BB;
  transition: 0.4s;
  border-radius: 16px;
  cursor: pointer;
}
.switch-label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #ffffff;
  transition: 0.4s;
}

.swiper {
  display: none;
}

@media (max-width: 1296px) {
  .container {
    padding: 0 32px;
  }
}
@media (max-width: 1232px) {
  .header__menu--item:nth-child(5), .header__menu--item:nth-child(6) {
    display: none;
  }

  .content__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
  .show {
    display: flex;
  }

  .filter-show {
    display: block;
  }

  .container {
    padding: 0 16px;
  }

  .title {
    font-size: 24px;
    line-height: 32px;
  }

  .header {
    position: relative;
  }
  .header__mob {
    display: block;
    width: 24px;
    height: 24px;
  }
  .header__mob span {
    margin: 10px 0;
    display: block;
    width: 13px;
    height: 3px;
    background-color: #AFB3BB;
    border-radius: 1px;
    position: relative;
  }
  .header__mob span::before, .header__mob span::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #AFB3BB;
    transition: 0.2s linear;
    border-radius: 1px;
  }
  .header__mob span::before {
    width: 22px;
    height: 3px;
    top: 6px;
  }
  .header__mob span::after {
    width: 18px;
    height: 3px;
    bottom: 6px;
  }
  .header__mob--active span {
    height: 0;
  }
  .header__mob--active span::before {
    width: 22px;
    height: 3px;
    transform: rotate(45deg);
    top: 0px;
    background-color: #2168DE;
  }
  .header__mob--active span::after {
    width: 22px;
    height: 3px;
    transform: rotate(-45deg);
    bottom: -3px;
    background-color: #2168DE;
  }
  .header__menu--desktop {
    display: none;
  }
  .header__menu--mob {
    margin-left: 0;
    position: absolute;
    z-index: 10;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #ffffff;
  }
  .header__menu--item {
    padding: 15px 16px 9px 16px;
    border-bottom: 1px #CFD4DA solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__menu--item svg {
    display: block;
    stroke: #CFD4DA;
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
  }
  .header__menu--item:first-child {
    border-top: 1px #CFD4DA solid;
    padding: 39px 16px 9px 16px;
  }
  .header__menu--item:nth-child(5), .header__menu--item:nth-child(6) {
    display: flex;
  }
  .header__login--item:first-child:hover::before, .header__login--item:nth-child(2):hover::before {
    display: none;
  }
  .header__login--item:nth-child(4), .header__login--item:last-child {
    display: none;
  }

  .section {
    padding: 28px 0 0 0;
    position: relative;
  }
  .section__breadcrumb {
    margin-bottom: 4px;
  }
  .section__breadcrumb--item a {
    font-size: 12px;
    line-height: 16px;
  }
  .section__tags--desktop {
    display: none;
  }

  .swiper {
    display: block;
  }
  .swiper-slide {
    display: block;
    width: fit-content !important;
  }

  .content {
    display: block;
  }
  .content__cards {
    grid-template-columns: 1fr;
  }
  .content__inner--item:nth-child(4), .content__inner--item:nth-child(5), .content__inner--item:nth-child(6), .content__inner--item:nth-child(7), .content__inner--item:nth-child(8), .content__inner--item:nth-child(9), .content__inner--item:nth-child(10), .content__inner--item:nth-child(11), .content__inner--item:nth-child(12), .content__inner--item:nth-child(13), .content__inner--item:nth-child(14), .content__inner--item:nth-child(15), .content__inner--item:nth-child(16), .content__inner--item:nth-child(17), .content__inner--item:nth-child(18), .content__inner--item:nth-child(19), .content__inner--item:nth-child(20) {
    display: none;
  }

  .filter {
    margin-top: 19px;
  }
  .filter-block {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -61px;
    left: 0;
    padding: 0;
    z-index: 1000;
  }
  .filter-block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #EFF1F4 solid;
    padding: 16px;
    margin-bottom: 27px;
  }
  .filter-block__header span {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .filter-block__header svg {
    display: block;
    width: 16px;
    height: 16px;
  }
  .filter-wrapper {
    padding: 0 16px;
  }
  .filter-wrapper__header {
    margin-bottom: 13px;
  }
  .filter-wrapper__body--list {
    margin: 0;
  }
  .filter-input {
    margin-bottom: 16px;
  }
  .filter__inner--item {
    margin-right: 0;
  }
  .filter__inner--item:nth-child(2), .filter__inner--item:nth-child(3), .filter__inner--item:nth-child(4) {
    display: none;
  }
  .filter__inner--item__mob {
    display: flex;
    align-items: center;
  }
  .filter__inner--item__mob svg {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .section__tags {
    margin-top: 16px;
  }
  .section__tags--item {
    padding: 0 12px;
  }
  .section__tags--item a {
    font-size: 14px;
  }

  .button--reset {
    margin: 0 auto;
    width: calc(100% - 32px);
  }
}
@media (max-width: 568px) {
  .content__pagination--wrapper {
    width: auto;
  }
  .content__pagination--item {
    margin-right: 16px;
  }
  .content__pagination--item:nth-child(4), .content__pagination--item:nth-child(5), .content__pagination--item:nth-child(6), .content__pagination--item:nth-child(8) {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
