$active: #2168DE;
$black: #000000;
$gray: #333333;
$white: #ffffff;
$gray-middle: #52575F;
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Gilroy-ExtraBold.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Gilroy-Bold.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Gilroy-SemiBold.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Gilroy-Medium.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Gilroy-Regular.woff');
    font-display: swap;
}
*,
::after,
::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Gilroy';
}
h1,h2,h3,h4,h5,h6,p,ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
input {
    outline: none;
}
.container {
    width: 100%;
    // max-width: 1792px;
    padding: 0 64px;
    margin: 0 auto;
}
.active {
    color: $active;
}
.link {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    font-style: normal;
    color: $gray;
    &--filter {
        display: flex;
        align-items: center;
    }
    &--more {
        color: #AFB3BB;
        display: flex;
        align-items: center;
        svg {
            display: block;
            width: 16px;
            height: 16px;
            margin-left: 4px;
            stroke: currentColor;
        }
    }
    &--active {
        color: $active;
        &:hover {
            color: $gray;
            transition: .2s linear;
        }
    }
}
.title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: $gray;
}
.text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    &--order {
        padding: 8px 16px;
        border: 1px $active solid;
        color: $active;
        &:hover {
            color: $white;
            background-color: $active;
            transition: .2s linear;
        }
    }
    &--main {
        padding: 8px 16px;
        border: 1px solid #CFD4DA;
        color: $gray;
        &:hover {
            border: 1px solid #BCD2F5;
            color: $active;
            transition: .2s linear;
        }
    }
    &--reset {
        width: 100%;
        padding: 7px 0 9px 0;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 32px;
        color: $active;
        background-color: #F2F4F7;
        border: 1px #F2F4F7 solid;
        cursor: pointer;
        &:hover {
            color: $white;
            background-color: $active;
            border-color: $active;
            transition: .2s linear;
        }
    }
}
.header {
    padding: 16px 0;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--col {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__logo {
        span {
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            color: $gray;
            text-transform: uppercase;
        }
    }
    &__menu {
        margin-left: 48px;
        display: flex;
        &--item {
            padding: 8px 16px;
            font-weight: 600;
            line-height: 24px;
            &:hover {
                color: $active;
                transition: .2s linear;
            }
            &:active {
                color: $active;
            }
        }
        &--mob {
            display: none;
        }
    }
    &__login {
        &--item {
            margin-right: 24px;
            &:first-child, 
            &:nth-child(2) {
                position: relative;
                &:hover {
                    &:before {
                        position: absolute;
                        top: 25px;
                        display: block;
                        border-radius: 5px;
                        padding: 4px 12px;
                        background-color: $gray;
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        color: $white;
                    }
                }
            }
            &:first-child {
                &:hover {
                    &::before {
                        content: 'Уведомления';
                    }
                }
            }
            &:nth-child(2) {
                &:hover {
                    &:before {
                        content: 'Избранное';
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
            svg {
                display: flex;
                flex: 0 0 auto;
                width: 24px;
                height: 24px;
            }
        }
    }
    &__mob {
        display: none;
    }
}
.section {
    padding: 51px 0 0 0;
    &__breadcrumb {
        margin-bottom: 13px;
        display: flex;
        align-items: center;
        &--item {
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: $gray-middle;
                &:hover {
                    color: $active;
                    transition: .2s linear;
                }
            }
        }
    }
    &__tags {
        display: flex;
        margin-top: 24px;
        &--item {
            padding: 4px 16px;
            background-color: #F2F4F7;
            border-radius: 10px;
            margin-right: 8px;
            cursor: pointer;
            &:hover {
                background-color: #F4F7FD;
                transition: .2s linear;
                a {
                    color: $active;
                    transition: .2s linear;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            a {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 32px;
                color: $gray;
            }
        }
    }
    // &__inner {
    //     margin-top: 43px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    // }
}
.content {
    display: flex;
    margin-top: 21px;
    &__inner {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 41px;
        justify-items: stretch;
        align-items: start;
        &--item {
            width: auto;
            width: auto;
            img {
                display: block;
                width: 100%;
            }
        }
        &--feedback {
            display: flex;
            position: absolute;
            bottom: 12px;
            right: 16px;
            svg {
                width: 25px;
                height: 25px;
            }
            span {
                color: $white;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
                margin-left: 4px;
            }
        }
        &--text {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
        }
    }
    &__img {
        width: 100%;
        height: fit-content;
        position: relative;
    }
}
.comment {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.favourite {
    display: flex;
    align-items: center;
    svg {
        fill: $white;
        transition: .2s linear;
    }
}
.not-active {
    display: none;
}
.arrow-not-active {
    transform: rotate(0deg) !important;
}
.filter {
    margin-top: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--item {
            margin-right: 25px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            &__mob {
                display: none;
            }
            &:hover {
                color: $active;
                transition: .2s linear;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__button {
        display: flex;
        align-items: center;
        color: $active;
        svg {
            display: block;
            width: 16px;
            height: 16px;
            stroke: currentColor;
            margin-right: 9px;
        }
    }
    &-block {
        display: block;
        min-width: 304px;
        padding: 27px 0 0 64px;
        background-color: $white;
        &__header {
            display: none;
        }
    }
    &-wrapper {
        margin-bottom: 20px;
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            span {
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 32px;
                text-transform: uppercase;
                color: $gray;
                &:last-child {
                    font-weight: 400;
                    color: #AFB3BB;
                }
            }
            svg {
                display: block;
                width: 16px;
                height: 16px;
                transform: rotate(-180deg);
                transition: .22222s ease-in-out;
                stroke: $gray;
            }
        }
        &__body {
            transition: .3s ease-in-out;
            &--list {
                margin-top: 16px;
            }
        }
    }
    &-companies {
        margin-bottom: 8px;
        height: 190px;
        overflow: auto;
        scrollbar-color: #CFD4DA #ffffff;
    }
    &-input {
        width: 100%;
        display: block;
        padding: 8px 11px;
        border: 1px solid #CFD4DA;
        border-radius: 5px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #AFB3BB;
        &:focus {
            color: $gray;
        }
    }
    &-notactive {
        display: none;
    }
}
.options {
    &-checkbox {
        display: none;
        &:checked + .options-label::before {
            background-color: $active;
            border-color: $active;
        }
        &:checked + .options-label::after {
            opacity: 1;
        }
    }
    &-label {
        padding: 8px;
        position: relative;
        display: flex;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            color: $active;
            transition: .2s linear;
            background-color: #F4F7FD;
            border-radius: 10px;
            padding: 8px;
            &::before {
                border-color: #BCD2F5;
            }
        }
        &::before {
            content: "";
            display: block;
            margin-right: 8px;
            border-radius: 5px;
            width: 24px;
            height: 24px;
            border: 1px solid #CFD4DA;
            background-color: $white;
        }
        &::after {
            content: "";
            position: absolute;
            top: 6px;
            left: 6px;
            display: block;
            width: 24px;
            height: 24px;
            background: url("../img/check.svg");
            background-repeat: no-repeat;
            //background-size: 13px 20px;
            opacity: 0;
        }
    }
    // &__more {
    //     display: block;
    //     color: $active;
    //     font-size: 15px;
    //     font-weight: 400;
    //     text-decoration: none;
    //     &:hover {
    //         opacity: .8;
    //         transition: .2s linear;
    //     }
    // }
}
.switch {
    display: block;
    position: relative;
    width: 42px;
    height: 24px;
    cursor: pointer;
    &-toggle {
        display: none;
        &:checked + .switch-label {
            background-color: $active;
        }
        &:checked + .switch-label::before {
            transform: translateX(20px);
        }
    }
    &-label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #AFB3BB;
        transition: .4s;
        border-radius: 16px;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            background-color: $white;
            transition: .4s
        }
    }
    // &-text {
    //     margin-left: 8px;
    //     color: $black;
    //     font-size: 18px;
    //     font-weight: 400;
    // }
}
@media (max-width: 1296px) {
    .container {
        padding: 0 32px;
    }
}
@media (max-width: 1232px) {
    .header {
        &__menu {
            &--item {
                &:nth-child(5),
                &:nth-child(6) {
                    display: none;
                }
            }
        }
    }
    .content {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media(max-width: 992px) {
    .show {
        display: flex;
    }
    .filter-show {
        display: block;
    }
    .container {
        padding: 0 16px;
    }
    .title {
        font-size: 24px;
        line-height: 32px;
    }
    .header {
        position: relative;
        &__mob {
            display: block;
            width: 24px;
            height: 24px;
            span {
                margin: 10px 0;
                display: block;
                width: 13px;
                height: 3px;
                background-color: #AFB3BB;
                border-radius: 1px;
                position: relative;
                &::before, 
                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    background-color: #AFB3BB;
                    transition: .2s linear;
                    border-radius: 1px;
                }
                &::before {
                    width: 22px;
                    height: 3px;
                    top: 6px;
                }
                &::after {
                    width: 18px;
                    height: 3px;
                    bottom: 6px;
                }
            }
            &--active {
                span {
                    height: 0;
                    &::before {
                        width: 22px;
                        height: 3px;
                        transform: rotate(45deg);
                        top: 0px;
                        background-color: $active;
                    }
                    &::after {
                        width: 22px;
                        height: 3px;
                        transform: rotate(-45deg);
                        bottom: -3px;
                        background-color: $active;
                    }
                }
            }
        }
        &__menu {
            &--desktop {
                display: none;
            }
            &--mob {
                margin-left: 0;
                position: absolute;
                z-index: 10;
                top: 56px;
                left: 0;
                width: 100%;
                height: 100vh;
                flex-direction: column;
                background-color: $white;
            }
            &--item {
                padding: 15px 16px 9px 16px;
                border-bottom: 1px #CFD4DA solid;
                display: flex;
                align-items: center;
                justify-content: space-between;
                svg {
                    display: block;
                    stroke: #CFD4DA;
                    width: 16px;
                    height: 16px;
                    transform: rotate(-90deg);
                }
                &:first-child {
                    border-top: 1px #CFD4DA solid;
                    padding: 39px 16px 9px 16px;
                }
                &:nth-child(5),
                &:nth-child(6) {
                    display: flex;
                }
            }
        }
        &__login {
            &--item {
                &:first-child,
                &:nth-child(2) {
                    &:hover {
                        &::before {
                            display: none;
                        }
                    }
                }
                &:nth-child(4),
                &:last-child {
                    display: none;
                }
            }
        }
    }
    .section {
        padding: 28px 0 0 0;
        position: relative;
        &__breadcrumb {
            margin-bottom: 4px;
            &--item {
                a {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
    .content {
        display: block;

        &__inner {
            grid-template-columns: 1fr;
        }
    }
    .filter {
        &-block {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: -61px;
            left: 0;
            padding: 0;
            z-index: 1000;
            &__header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px #EFF1F4 solid;
                padding: 16px;
                margin-bottom: 27px;
                span {
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                }
                svg {
                    display: block;
                    width: 16px;
                    height: 16px;
                }
            }
        }
        &-wrapper {
            padding: 0 16px;
            &__header {
                margin-bottom: 13px;
            }
            &__body {
                &--list {
                    margin: 0;
                }
            }
        }
        &-input {
            margin-bottom: 16px;
        }
        &__inner {
            &--item {
                margin-right: 0;
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    display: none;
                }
                &__mob {
                    display: flex;
                    align-items: center;
                    svg {
                        display: block;
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .section {
        &__tags {
            &--item {
                padding: 0 12px;
                a {
                    font-size: 14px;
                }
            }
        }
    }
    .button {
        &--reset {
            margin: 0 auto;
            width: calc(100% - 32px);
        }
    }
}
@media (max-width: 568px) {
    
}